
/* Header and footer display */

header,
footer {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  background: gray;
  color: ghostwhite;
  width: 100%;
  text-align: center;
}

/* City Search box display */

#city {
  background: lightgray;
}

#city-search {
  margin: 1rem 0 1rem 0;
}

#city-btn {
  margin: 1rem 0 1rem 0;
  background: rgba(28, 160, 160, 0.699);
}

/* Current weather display */

.main-temp {
  margin-top: 1rem;
  font-weight: bold;
}

#weather-header {
  background: rgba(28, 160, 160, 0.699);
}

.weather-body {
  margin: 2.5rem 0 2.5rem 0;
}

#imgicon {
  float: right;
}

/* City List diplay */

#city-list {
  font-weight: bold;
}

/* Created 5 colored circles to use in condtional in javascript for uv index. */

.color-box1 {
  background-color: green;
  float: right;
  padding: 5px;
  text-align: center;
  color: ghostwhite;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.color-box2 {
  background-color: yellow;
  float: right;
  padding: 5px;
  text-align: center;
  color: ghostwhite;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.color-box3 {
  background-color: orange;
  float: right;
  padding: 5px;
  text-align: center;
  color: ghostwhite;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.color-box4 {
  background-color: red;
  float: right;
  padding: 5px;
  text-align: center;
  color: ghostwhite;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.color-box5 {
  background-color: darkviolet;
  float: right;
  padding: 5px;
  text-align: center;
  color: ghostwhite;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

/* Five Day Forcast display */

#five-day {
  margin: 1rem 0 1rem 0;
  border-radius: 15px;
  background: lightgray;
  padding: 1rem;
}

.five-day {
  margin: 1rem 1rem 1rem 1rem;
  background: rgba(28, 160, 160, 0.699);
  font-weight: bold;
}
